{% extends "general_template.html" %}
{% block heading %}
    {% load static %}
	<title>Pop Corn|Post</title>
    <script src="{% static "js/post.js" %}"></script>
{% endblock %}

{% block container %}
    <section id="main_content">
        <div class="col-md-7 col-md-offset-2">
         <article class="post timeline_box shadow">
                <aside class="pull-right">
                    <img src="{% static image_address %}" class="poster pull-right">
                </aside>
                <div class="thumbnail_pic_and_text post_user_pic">
                    <img class="circular thumbnail_pic shadow pull-left" src="../static/img/test/p2.jpg"/>
                    <div class="thumbnail_text pull-left">
                        <a class="username" href="profile.html">
                            John Smith
                        </a>
                        <a class="date pull-left" href="post.html">
                            <time>{{ post.date|date:"M d, Y" }}</time>
                        </a>
                    </div>
                </div>
                <h1>
                    {{ post.movie.name }}
                </h1>
                <div class="rating">
                    <span class="star star_full"></span><span class="star star_full"></span><span class="star star_full"></span><span class="star star_full"></span><span class="star star_half"></span><div class="rating_number full_rate">4.5/5</div>
                </div>
                <section class="post_text">
                    <p>{{ post.text }}</p>
                </section>
                <span class="blue_clicks" onclick="likeUnlike(this)">like</span>
                <div class="comment bottom_circly_box">
                    <div>
                        {{ post.likes }} people liked this post &amp; {{ commentsCount }} people commented on this post
                    </div>
                    <ol class="comment_list">
                        {% for comment in comments %}
                        <li>
                            <img class="circular thumbnail_comment" src="../static/img/test/p2.jpg"/><a class="username user_comment" href="/user/{{ comment.author_id }}">{{ comment.author }}</a><span>{{ comment.text }}</span>
                        </li>
                        {% endfor %}
                        <li>
                            <form role="form" onsubmit="return addComment(this);">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Write a comment..." required="required">
                                </div>
                            </form>
                        </li>
                    </ol>
                </div>
            </article>
     </div>
    </section>
{% endblock %}